article.tweet {
  box-sizing: border-box;
  margin: 2em;
  border: 1px solid #eee;
  border-radius: 5px;
}

article.tweet:hover {
  border: 1px solid #244751;
}

article.tweet:hover footer img{
  opacity: 1;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em;
  background-color: #eee;
}

article.tweet header div {
  display: flex;
  justify-content: flex-start;
  padding: 0em;
}

article.tweet header .profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin-right: 1em;
}

article.tweet header .profile-name {
  margin-top: 15px;
  line-height: 0;
}

article.tweet .handle {
  font-weight: lighter;
  margin-top: 7px;
}

article.tweet div {
  box-sizing: border-box;
  /* height: 75px; */
  width: 100%;
  padding: 0 1em;
  word-wrap: break-word;
}

article.tweet div p {
  font-size: 1.5em;
  vertical-align: top;
}

article.tweet hr {
 border-top: #eee;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0.5em;
  width: auto;
}

article.tweet footer div {
  width: 100px;
}

article.tweet footer img {
/*  float: right;
*/  height: 20px;
    width: 20px;
    opacity: 0;
}
