article.tweet {
  box-sizing: border-box;
  margin: 2em;
  border: 1px solid #eee;
  border-radius: 5px;
}

article.tweet:hover {
  border: 1px solid #244751;
}

article.tweet:hover footer i{
  opacity: 1;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em;
  background-color: #eee;
}

article.tweet header div {
  display: flex;
  align-items: flex-start;
  padding: 0em;
}

article.tweet header .profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin-right: 1em;
}

article.tweet header .profile-name {
  margin-top: 1rem;
  line-height: 0;
}

article.tweet .handle {
  font-weight: lighter;
  margin-top: 0.6rem;
}

article.tweet .tweet-text {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
  word-wrap: break-word;
}

article.tweet .tweet-text p {
  font-size: 1.5em;
  vertical-align: top;
}

article.tweet hr {
 border-top: #eee;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0.5em;
}

article.tweet footer div {
  width: auto;
}

article.tweet footer i {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0;
  color: #00a087;
}

article.tweet footer i:hover {
  color: red;
}

